body{
    background-color: yellow;
    margin: 10px;
    width: 100%;
}



.ila-container{
    display: flex;
    position: relative;
    border: 1px solid black;
    margin: auto;
    width: 40%;
    padding: 13px;
    justify-content: center;
    }

    .curry-container{
        display: flex;
        position: absolute;
        border: 1px solid black;
        width: 80%;
        height: 20%;
        margin-top: 15%;
    }

    .curry-container2{
        display: flex;
        position: absolute;
        justify-content: left;
        border: 1px solid black;
        width: 90%;
        height: 20%;
        margin-top: 38%;
    }

    .curry{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        border: 1px solid black;
        height: 90%;
        width: 20%;
    }

    .curry2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        border: 1px solid black;
        height: 90%;
        width: 10%;
    }

    .chor{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        border: 1px solid black;
        height: 90%;
        width: 100%;
    }

    #div1,
    #div2,
    #div3,
    #div4,
    #div5,
    #div6,
    #div7,
    #div8,
    #div9,
    #div10,
    #div11,
    #div12,
    #div13{
        margin: 10px;
        border: 1px solid black;
        width: 50%;
        height: 50%
    }

    .ila-container img{
        width: 100%;
        height: 100%;
    }

    .curry-container1 {
        height: 70%;
        border: 1px solid black;
        position: absolute;
        display: flex;

      }




#pool {
  width: 500px;
  height: 100px;
  border: 1px solid blue;
  padding: 10px;
}
