body{
    background-color: yellow;
    margin: 10px;
    width: 100%;
}

.ila-container{
    display: flex;
    position: relative;
    margin: auto;
    max-width: 800px;
    width: auto;
    height: auto;
    padding: 13px;
    justify-content: center;
    }

     .ila-container img{
        width: 100%;
        height: 100%;
    }

    .curry-container{
        display: flex;
        position: absolute;
        width: 80%;
        height: 20%;
        margin-top: 16%;
        flex-flow: nowrap;
        justify-content: center;
    }

    .curry-container2{
        display: flex;
        position: absolute;
        justify-content: left;
        width: 80%;
        height: 40%;
        margin-top: 35%;
    }

    .curry{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        height: 90%;
        width: 11%;
    }

    .curry2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        height: 50%;
        width: 11%;
    }

    .chor{
        padding-left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1%;
        height: 90%;
        width: 30%;
    }

    #div1,
    #div2,
    #div3,
    #div4,
    #div5,
    #div6,
    #div7,
    #div8,
    #div9,
    #div10,
    #div11,
    #div12,
    #div13{
        border: 1px solid black;
        margin: 10px;
        width: 100%;
        height: 50%
    }

   

    .curry-container1 {
        height: 70%;
        border: 1px solid black;
        position: absolute;
        display: flex;

      }


.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 24px;
}

.choicesContainer{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.btn{
    border: none;
    margin: 20px;
    padding: 14px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to left,#40c009,#c0bd11,#40c009);
}


h5{
    text-align: center;
    font-size: 25px;
}


